/************Reset CSS************/
*{
	margin: 0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
}


/************Grid************/


.logo-container{
    grid-area: logo-container;
}

.logo-container img{
    width: 100vw;
}

.search-container{
    grid-area: search-container;
}
.basket-container{
    grid-area: basket-container;
}
.user-container{
    grid-area: user-container;
}

nav{
    grid-area: nav;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-areas:
    "logo-container logo-container logo-container logo-container"
    "nav search-container user-container basket-container ";
    }

.promo-container{
    grid-area: promo-container
}

.top-sold{
    grid-area: top-sold;
}

.expert-note{
    grid-area: expert-note;
}

.heart-stroke{
    grid-area: heart-stroke;
}

.focus{
    grid-area: focus;
}

.promotion{
    grid-area: promotion;
}

#contentMain{
    grid-area: content_main;
    display: grid;
    grid-template-columns:1fr;
    grid-template-areas:
    "promo-container"
    "top-sold"
    "expert-note"
    "heart-stroke"
    "focus"
    "promotion";
    }
}


.blog_extract{
    grid-area: blog-extract;
}

#blog_container{
    grid-area: blog_container;
}


nav, section{
  font-size: 0.8rem;
}

#menu-footer{
    grid-area: menu-footer;
    display: flex;

}

#brand{
    grid-area: brand;
    display: flex;
}

#copyright{
    grid-area: copyright;
    width: 100vw;
    text-align: center;
    font-size: 0.6em;
}

footer{
    grid-area:footer;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-areas:
    "menu-footer"
    "brand"
    "copyright";
}

/*#bodybis{
    display: grid;
    grid-template-columns:1fr ;
    grid-template-areas:
    "header"
    "content_main"
    "blog_container"
    "footer";
}
*//************HEADER************/

/************menu************/
.menu {
    flex-basis: 100%;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: margin .5s ease-in-out, max-height .5s ease-in-out, opacity .3s .1s ease-in-out,
    visibility: hidden;
}


.menu-checkbox:checked ~ .menu {
    margin: 1em 0;
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
}

.menu-checkbox {
	opacity: 0;
	position: absolute;
	top: -1000px;
}

.menu-checkbox:focus + .menu-toggle {
    outline: #00A1A1 auto 5px;
}

.menu-toggle {
    padding: 0.5em 1em;
}

.menu li {
    border-bottom: 1px solid #eee;
}

.menu li a {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
}

.nav-wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu ul,#menu-footer ul li{
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}

.menu li:hover ul, #menu-footer ul:hover li {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
    position: relative;
}

/************Search bar************/
#search-large{
    display: none;
}

#search-small {
    display: flex;
    position: absolute;
    left: -999em;
    z-index: 1000;
}

.search-hidde:hover #search-small {
    left: auto;
    position: relative;
}

/************Main************/
.promo-container img{
    width: 100vw;
}

/************sliderTopVente************/
.slider {
  width: 90vw;
  margin: 1em auto;
  position: relative;
  overflow: hidden;
}

.slider-viewport {
  width: 90vw;
  height: 25vh;
  overflow: hidden;
}

.slider-content {
  display: grid;
  grid-auto-flow: column;
  transition: 1s all;
}
.slider-content img {
  width: 90vw;
  height: 25vh;
}

.slider-nav {
  position: relative;
  width: 100%;
  bottom: -3em;
  margin: 1em auto;
  text-align: center;
}
.slider-nav a {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
  border-radius: 0em 1em;
  display: inline-block;
  background-color: #adafbc;
  width: 2.5em;
  height: 2.5em;
  margin: 0 3px;
}
.slider-nav a:hover {
  background-color: red;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.8);
}

#img2:target .slider-content {
  transform: translateX(-90vw);
}

#img3:target .slider-content {
  transform: translateX(-180vw);
}

#img4:target .slider-content {
  transform: translateX(-270vw);
}

#img5:target .slider-content {
  transform: translateX(-360vw);
}

#img6:target .slider-content {
  transform: translateX(-450vw);
}

#img7:target .slider-content {
  transform: translateX(-540vw);
}

#img8:target .slider-content {
  transform: translateX(-630vw);
}


/************MediaQueries************/

/************DESKTOP************/
/************HEADER************/
/************menu************/

@media screen and (min-width: 65em) {
    .menu {
        flex-basis: auto;
        margin: 0;
        max-height: 1000px;
        opacity: 1;
        padding: 0;
        visibility: visible;
    }

    .menu-toggle,
    .menu-checkbox {
        display: none;
    }
    .menu li {
        border: none;
        display: inline-block;
    }

    .menu li a {
        padding: .5em;
    }

    .menu {
/* on centre le menu dans la page */
    text-align: center;
}
    .menu li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
    .menu ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
    .menu a {
    text-decoration: none;
    display: block;
    color:#000;
}

    .menu li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
    position: absolute;
}


}
