body{
	background-color: white;
	margin: 0;
	padding: 0;
	font-size: 62%;
}

html {
  scroll-behavior: smooth;
}

a{
	text-decoration: none;
	color: #056839;
}

div img{
  width: auto;
  height: 100%;
}

.nav ul {
	margin: 0rem;
	padding: 0rem;
	background: #8dc63f;
	list-style:none;
}

.menu li{
	height: 100%;
	align-items: center;
}

ul a:hover {
	background-color: #056839;
	color:  #8dc63f;
}

.nav a {
	padding: 1em;
	display: block;
	text-align:center;
  vertical-align: center;
	text-decoration: none;
}

.nav .menu{
display: flex; /*1*/
flex-direction : column; /*2*/
justify-content: center; /*3*/
}

header h1 {
	display: none;
}

article{
  padding:1em;
}

aside{
  padding-left: 1em;
}

#app{
text-align: center;
height: 100vh;
}

/************Burger menu************/
#menu_nav{
  display: none;
}

.icon_burger{
   font-size: 2rem;
   float: right;
   margin-right: 1em;
   margin-top: 0.5em;
}

/************Button to top************/
.button_top {
border: none;
background-color: #ebedef !important;
font-weight: 100;
padding: 1rem;
text-transform: uppercase;
border-radius: 0.6rem;
display: inline-block;
transition: all 0.3s ease 0s;
position: fixed;
bottom: 5rem;
left:85%;
opacity: 0.4;
}

.button_top:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 0.3rem;
background: none;
-webkit-box-shadow: 0rem 0.5rem 4rem -1rem rgba(0,0,0,0.57);
-moz-box-shadow: 0rem 0.5rem 4rem -1rem rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}

/************Image************/
#organigramme{
  border: 0.1em solid black;
}

header{
  text-align: center;
}

#logo_header{
  width: auto;
  height: 100%;
}

div #organigramme{
  width:90vw ;
}

.parallax{
  width:100%;
  height:100vh;
}

#mm1{
 background: url("../img/mm1.jpg")center 0 no-repeat fixed;
}
#mm2{
 background: url("../img/mm2.jpg")center 0 no-repeat fixed;
}
#mm3{
 background: url("../img/mm3.jpg")center 0 no-repeat fixed;
}
#mm4{
 background: url("../img/mm4.jpg")center 0 no-repeat fixed;
}
#mm5{
 background: url("../img/mm5.jpg")center 0 no-repeat fixed;
}
#mm6{
 background: url("../img/mm6.jpg")center 0 no-repeat fixed;
}

#contentMain{
  background:url("../img/mm7.png");
}
/************Grid************/

header {
    height: 10vh; 
    grid-area: header;
    }

nav, section{
  font-size: 0.8rem;
}

#menu_nav {
    grid-area: menu_nav;
    }

#contentMain{
	grid-area: content_main;
}

footer{
	grid-area:footer; 
}
	
body{
	display: grid;
  grid-template-columns:1fr;
  grid-template-areas:
    "header"
    "menu_nav"
    "content_main"
    "footer";
}

/************Footer************/

footer{
	height: auto;
	background-color: #8dc63f;
  font-size: 1rem;
}

footer ul{
  display: inline-block;
}

#contactFooter li,#lienSociaux li{
  list-style :none;
}

#lienSociaux a {
  font-size: 3rem;
  border-radius: 0.1em;
  vertical-align: center;
}
/************Responsive 480px************/
@media (min-width: 48rem) {
	.nav .menu {
		display: flex; /*1*/
		flex-direction : row; /*2*/
		justify-content: flex-start; /*3*/
		align-items: center;
		height: 100%;
	}
	.icon_burger{
  display:none;
  }

  #menu_nav{
  display: grid;
}

footer,nav, section{
  font-size: 1.5rem;
}

 	body{
    font-size: 1.5rem;
		display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
	     "header menu_nav"
	     "content_main content_main"
	     "footer footer";
	}

  header{
  text-align: left;
  }
}

@media(min-width: 102rem) {
.nav .menu {
    display: flex; /*1*/
    flex-direction : row; /*2*/
    justify-content: flex-start; /*3*/
    align-items: center;
    height: 100%;
  }

.icon_burger{
  display:none;
}

footer,nav, section{
  font-size: 1.5rem;
}


body{
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
   "header menu_nav menu_nav"
   "... content_main ..."
   "footer footer footer";
 }
}

