<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Groupe Madera</title>
	<meta name="author" content="name">
	<meta name="description" content="description here">
	<meta name="keywords" content="keywords,here">
	<link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" href="css/all.min.css">
	<meta name="robots" content="noindex,nofollow">
	<script src="./js/script.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script >
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
		_gaq.push(['_trackPageview']);
		(function()
		{
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	<link href="css/style.css" rel="stylesheet">
</head>
<body>
	<header id="top">
		<h1>Groupe Madera</h1>
		<img src="./img/logo.png" id="logo_header" alt="logo">
		<a href="javascript:void(0);" class="icon_burger" onclick="burger()">
            <i class="fas fa-ellipsis-v"></i>
        </a>
	</header>
	<nav id="menu_nav" class="nav" >
		<ul class="menu">
			<li><a href="./index.html">Accueil</a></li>
			<li><a href="./index.html#maderaGroup">Le Groupe</a></li>
			<li><a href="./index.html#titleArticle_Skill">Nos compétences</a></li>
			<li><a href="./index.html#structure">Notre structure</a></li>
			<li><a href="./produit.html">Nos produits</a></li>
			<li><a href="./contact.html">Contact</a></li>
		</ul>
	</nav>
	<section id="contentMain">
			<form form id="app" @submit="checkForm" action="index.html">
				<p v-if="errors.length">
					<b>Merci de remplir ces champs:</b>
					<ul>
						<li v-for="error in errors">{{ error }}</li>
					</ul>
				</p>
				<div>
					<label for="name">Nom :</label><br/>
					<input type="text" id="name" name="user_name" v-model="name">
				</div>
				<div>
					<label for="surname">Prénom :</label><br/>
					<input type="text" id="surname" name="user_surname" v-model="surname">
				</div>
				<div>
					<label for="service-select">Service:</label><br/>
					<select name="service" v-model="service" id="service-select">
						<option value="">--Please choose an service--</option>
						<option value="rh">RH</option>
						<option value="comptabilite">Comptabilité</option>
						<option value="juridique">Juridique</option>
						<option value="administratif">Administratif</option>
						<option value="informatique">Informatique</option>
						<option value="buparticulier">BU Particulier</option>
						<option value="bucollectivites">BU Collectivités</option>
						<option value="bumaisonmodulaire">Bu Maison Modulaires</option>
						<option value="magasins">Magasins</option>
						<option value="productionparticulier">Productions particulier</option>
						<option value="productioncollectivites">Productions Collectivités</option>
						<option value="installationparticulier">Installation particulier</option>
						<option value="installationcollectivites">Installation Collectivités</option>
						<option value="installationmaisonmodulaire">Installation Maison Modulaire</option>
						<option value="productionmaisonmodulaire">Production Maison Modulaire</option>
						<option value="achats">Achats</option>
						<option value="qualite">Qualité</option>
						<option value="apresvente">Après Ventes</option>
						<option value="stocks">Stocks</option>
						<option value="rd">R&D</option>
						<option value="logistique">Logistique</option>
						<option value="bureauetudes">Bureau d'études</option>
					</select>

				</div>
				<div>
					<label for="user_message">Message :</label><br/>
					<textarea id="user_message" name="user_message" v-model="user_message"></textarea>
				</div>
				<button type="submit" value="Submit">Envoyer</button>
			</form>
	</section>
		<footer>
		<ul id="lienSociaux">
			<li><a href="#"><i class="fab fa-facebook"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li><a href="#"><i class="fab fa-instagram"></i></a></li>
			<li><a href="#"><i class="fas fa-rss"></i></a></li>
		</ul>
		<ul id="contactFooter">
			<li>02 51 98 18 32</li>
			<li>contact@madera-construction.com</li>
			<li>MADERA</li>
			<li>Rue Enzo Ferrari</li>
			<li>85000 La Roche sur Yon</li>
		</ul>
		<a id="goTop" class="button_top" href="#top"><i class="fab fa-galactic-senate"></i></a>
	</footer>

	<script>
		const app = new Vue({
		  el: '#app',
		  data: {
		    errors: [],
		    name: null,
		    surname: null,
		    service: null,
		    user_message: null

		  },
		  methods:{
		    checkForm: function (e) {
		    	this.thanks = null;
		      if (this.name && this.surname && this.user_message) {
		        return true;
		      }

		      this.errors = [];

		      if (!this.name) {
		        this.errors.push('Nom requis.');
		      }
		      if (!this.surname) {
		        this.errors.push('Prénom requis.');
		      }
		      if (!this.user_message) {
		        this.errors.push('Message requis.');
		      }
		      e.preventDefault();
		    }
		  }
	})</script>
</body>
</html>